.air {
	fill: DeepSkyBlue;
}
.earth {
	fill: Green;
}
.empty {
	opacity: 0;
}
.fire {
	fill: Red;
}
.neutral {
	fill: Silver;
}
.neutral2 {
	fill: LightGray;
}
.neutral3 {
	fill: DarkGray;
}
.stone {
	fill: DimGray;
}
.water {
  fill: Blue;
}
