.root {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

.svgWrap {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
}

.turn {
	padding: 1rem;
	text-align: center;
}
