.root {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

.svgWrap {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
}

.turn {
	text-align: center;
}

.undo {
	display: flex;
	justify-content: space-around;
}
